body {
    background: linear-gradient(135deg, #6e8efb, #a777e3, #ff6b6b);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}
.container{
    padding: 120px;
}
.login-form {
    max-width: 400px;
    margin: auto;
}